//Variables
$colorfont1:#fff;
$colorfont2:#1e2335;
$colorfontgrn:#cbe346;

$fontxl1:4.2rem;
$fontlg:1.2rem;
$fontsm:0.8rem;

@import 'reset';

@import 'header';
@import 'footer';
@import 'products';
@import 'sliders';

@import'icons';


